.answerInput {
  margin: 0.5rem 0 0 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: right;
  line-height: 150%;
  background: #555;
  min-height: 1.5rem;
  border-bottom: 0.2rem solid #444;
  padding-right: 1rem;
  color: #111;
}