body {
  background-color: #111;
  opacity: 0.8;
  background-image: linear-gradient(#222 1px, transparent 1px),
    linear-gradient(to right, #222 1px, #111 1px);
  background-size: 20px 20px;

  margin: 0;
  overflow: hidden;
}

input,
textarea {
  resize: none;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}
