.genericButton {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #bbb;
  transition: filter .1s ease-in-out;
}

.genericButton:hover {
  filter: brightness(110%);
}

.genericButton * {
  width: 100%;
  height: 100%;
}