.dialogueNode {
  background-color: #666;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

.dialogueNode header {
  background: #888;
  height: 1rem;
}

.dialogueNode textarea {
  resize: none;
  background: none;
  border: none;
  margin: 0.5rem;

  &:focus {
    outline: none;
  }
}
