.dialogueContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 0.5rem;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  margin: 0 0.5rem;
}

.questionContainer input {
  background: #545454;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}


.answerContainer {
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}

.answer {
  margin: 0.5rem 0 0 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: right;
  line-height: 150%;
  background: #555;
  min-height: 1.5rem;
  border-bottom: 0.2rem solid #444;
  padding-right: 1rem;
  color: #111;
}

.notch1,
.notch2 {
  width: 0.6rem;
  height: 1.5rem;
  position: absolute;
  background: #666;
  top: 5.4rem;
  border-bottom: 0.15rem solid #555;
}

.notch1 {
  transform: translateX(-100%);
  border-radius: 0.5rem 0 0 0.5rem;
}

.notch2 {
  left: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
}