.dialogueContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.questionContainer input {
  background: #545454;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

.questionContainer button {
  border-radius: 50%;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
}

.answer {
  text-align: right;
  border-bottom: 0.2rem dotted #333;
  padding-right: 0.5rem;
}
